body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    background-color: var(--main-bg);        
}

/* For HTML5 elements and resets */
*, *::before, *::after {
    box-sizing: border-box;
}